@import '../../../../../../styles/tokens/all';

.landing__cloudlist {
  background: url('/images/landing/sky-bg.webp');

  &__title {
    font-weight: bold;
    font-size: $font--xxl;
    margin: $space--xs 0;
  }

  &__subtitle {
    font-size: $font--lg;
    margin: $space--xs 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__card {
    padding: $space--xs;
    img {
      border-radius: $space--xs;
    }
  }

  @include desktop-view {
    &__title {
      font-size: $font--xxxl;
    }

    &__subtitle {
      font-size: $font--xxl;
    }

    &__list {
      justify-content: unset;
    }

    &__card {
      width: auto;
      margin: 1%;
      border-radius: $space--xs;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-white-transparent;
    }
  }
}
