@import '../../../../../styles/tokens/all';

.productList {
  
  &__cardContainer {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    width: 48%;
    border: 3px solid $color-white;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $space--xs;
    font-size: $font--xxl;
    border-radius: $space--sm;
    margin: 0 1%;
    svg {
      font-size: 36px;
      margin: $space--sm;
    }
  }

  @include desktop-view {
    &__card {
      width: 25%;
    }
  }
}
