@import '../../../../../styles/tokens/all.scss';

.homeAPIS {
  padding: $space--xs $space--xs $space--md;
  border-radius: $space--xs;
  background: $color-white;

  &__title {
    font-size: $font--xl;
    text-decoration: underline;
    margin-bottom: $space--xs;
  }


  &__services {
    svg {
      color: $color-blue;
    }

    p {
      font-style: italic;
    }

    a {
      color: $color-white;
      border-radius: $space--xs;
      padding: $space--xs;
      background: $color-blue;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  @include desktop-view {
    &__title {
      font-size: 36px;
    }

    &__services {
      div, p, a {
        font-size: $font--xl;
      }
      p {
        margin: $space--xs 0 $space--md;
      }
    }
  }
  
}
