@import '../../../styles/tokens/all';

.morphsearch {
  background: $color-purple-2;

  &__title {
    text-align: center;
    font-style: italic;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: $font--lg;
    padding: $space--sm;
  }

  &__note {
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  @include desktop-view {
    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: $font--xxl;
    }
  }
}

.morphsearch__features {
  margin: $space--sm 0;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 49% 49%;

  &__card {
    background: $color-green-dark;
    padding: $space--xs;
    color: $color-white;
    border-radius: $space--xs;
    &__title {
      font-size: $font--lg;
      font-weight: bold;
      margin: $space--xs 0;
    }

    &__subtitle {
      margin: $space--xs 0;
    }
  }

  @include desktop-view {
    margin-left: $space--md;
    grid-template-columns: 23% 23% 23% 23%;
  }
}

.morphsearch__requestCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $color-yellow;
  padding: 0 $space--xs;
  border-radius: $space--xs;
  margin: $space--sm;
  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $color-black;
    border-radius: $space--xs;

    span {
      padding: $space--xs;
    }

    span:first-child {
      border-right: 1px solid $color-black;
      border-radius: $space--xs;
      background: $color-blue;
      color: $color-white;
    }

    span:last-child {
      font-style: italic;
    }
  }

  &__body {
    padding: $space--xs 0;
    ul {
      padding-left: $space--lg;
    }

    ul li {
      margin: $space--xs 0;
    }
  }

  &__cta {
    border-radius: $space--xs;
    padding: $space--xs;
    color: $color-white;
    background: $color-blue;
  }

  @include desktop-view {
    padding-top: $space--sm;
    font-size: $font--xl;
  }
}
