@import '../../../../../../styles/tokens/all';

.landing__hero {
  background: url('/images/landing/sky-bg.webp');

  &__content {
    background: rgba(255, 255, 255, 0.6);
    padding: $space--sm;
    border-radius: $space--sm;
  }

  &__cta {
    font-size: $font--lg;
    border: none;
    border-radius: $space--xxs;
    color: $color-white;
    padding: $space--xs $space--sm;
    background: $color-black;
  }

  @include desktop-view {
    padding-bottom: $space--lg;
    &__content {
      width: 75%;
      margin: auto;
      background: unset;

      h1 {
        font-size: 42px;
      }

      h3 {
        font-size: $font--xxl;
        margin-bottom: $space--xxl;
      }
    }

    &__cta {
      font-size: $font--xxl;
    }
  }
}
