@import '../../../styles/tokens/all';

.shortenurl {
  &__singleurlForm {
    display: flex;
    flex-direction: column;
    padding: $space--md;

    &__texts {
      h1 {
        margin: 0 0 $space--sm;
        font-size: 38px;
      }

      h2 {
        margin: 0 0 $space--sm;
        font-size: $font--lg;
        font-weight: 400;
        text-align: justify;
      }
    }

    @include desktop-view {
      display: grid;
      grid-gap: 5%;
      grid-template-columns: 50% 50%;
      padding: $space--md 0;

      &__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: $font--xxxl;
        }
      }
    }
  }

  &__devCopywriting {
    font-size: $font--lg;
    background: $color-purple-2;
    padding: $space--md;
    line-height: 1.5;
    a {
      font-weight: bolder;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      svg {
        text-decoration: underline;
      }
    }

    @include desktop-view {
      font-size: $font--xxl;
    }
  }

  &__faq {
    background: $color-white;
    padding: $space--md 0;
    h1 {
      margin: 0;
      padding-bottom: $space--xxl;
      text-align: center;
    }

    &__question {
      margin-bottom: $space--xxl;
      span {
        width: 100%;
        font-size: $font--xl;
        background: $color-grey-30;
        padding: $space--md;
        font-weight: bold;
        margin-bottom: $space--sm;
      }
      ul {
        padding: 0 $space--md;
      }

      ul li {
        text-align: justify;
        list-style: none;
        font-size: $font--md;
        padding: $space--xs 0;
      }
    }
  }
}
