@import "../../../../styles/tokens/all";

.bulkShorturlForm {
  &__form {
    &__uploadBtn {
      width: 100%;
      border: none;
      font-size: $font--lg;
      color: $color-white;
      background: $color-green;
      padding: $space--sm;
      border-radius: $space--xs;
      margin-bottom: $space--sm;
    }

    &__submitBtn {
      width: 100%;
      border: none;
      font-size: $font--lg;
      color: $color-white;
      background: $color-blue;
      padding: $space--sm;
      border-radius: $space--xs;
      margin-bottom: $space--sm;
    }
  }
}
