@import '../../../../../../styles/tokens/all';

.appSolutions {
  h2 {
    text-align: center;
  }


  @include desktop-view {
    &__list {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
    }

    &__card {
      margin: $space--sm $space--xs;
      padding: $space--sm;

      img {
        width: 95%;
      }
    }
  }

  &__card {
    border: 1px solid $color-black;
    padding: $space--xs;
    margin-bottom: $space--xs;

    &__imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      font-size: $font--md;
    }

    &__title {
      font-weight: bold;
    }
  }
}