@import '../../../../../../styles/tokens/all';

.cloudslug__head {
  display: flex;
  align-items: center;
  flex-direction: row;

  img {
    border-radius: $space--xs;
  }

  &__title {
    padding: 0 $space--sm;
    font-size: 60px;
    color: $color-blue;
    margin: 0;
  }

  @include desktop-view {
    padding: 0 $space--xxl;
  }
}
