@import '../../../../../../../styles/tokens/all';

.categoryDropdown {
  margin: $space--sm 0;
  display: flex;
  flex-direction: column;

  label {
    font-size: $font--xl;
    line-height: 1.5;
  }

  select {
    padding: $space--xs;
    font-size: $font--lg;
    border-radius: $space--xxs;
    background: none;
  }

}