@import '../../../../../../styles/tokens/all';

.productTabs {

  &__head {
    display: grid;
    grid-template-columns: 50% 50%;

    button {
      padding: $space--sm;
      border-radius: $space--xs $space--xs 0 0;
      font-size: $font--lg;
      border: 2px solid $color-black;
      background: none;
      border-bottom: none;
      color: $color-blue;
      font-size: $font--xl;
    }

    .btnInactive {
      background: $color-barely-blue;
      border:1px solid $color-black;
      color:$color-black;
    }
  }
}