@import '../../../../../styles/tokens/all';

.shortenurlForm {
  background: $color-white;
  border-radius: $space--sm;
  padding: $space--sm;

  &__field {
    margin-bottom: $space--md;
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: $space--sm;
      svg {
        color: $color-blue;
        font-size: $font--xxl;
        margin-right: $space--xs;
      }

      @include desktop-view {
        font-size: $font--lg;
      }
    }

    &__originurlInput,
    &__finalurlInput {
      width: 100%;
      background: none;
      border: 1px solid $border-grey;
      border-radius: $space--sm;
      padding: $space--sm $space--xs;
      font-size: $font--md;
    }

    &__customurl {
      display: flex;
      flex-wrap: wrap;

      div {
        width: 60%;
        font-size: $font--md;
        border: 1px solid $border-grey;
        color: $color-black-2;
        padding: $space--sm $space--xs;
        background: $color-grey-10;
        text-align: center;
        border-radius: $space--xs 0 0 $space--xs;
      }

      input {
        width: 40%;
        border: 1px solid $border-grey;
        border-radius: 0 $space--xs $space--xs 0;
        font-size: $font--md;
        padding-left: $space--xs;
      }

      @include desktop-view {
        div {
          width: 40%;
        }

        input {
          width: 60%;
        }
      }
    }
  }

  &__submitBtn {
    width: 100%;
    border: none;
    font-size: $font--lg;
    background: $color-green-dark;
    color: $color-white;
    border-radius: $space--xs;
    padding: $space--sm $space--xs;
  }

  &__anotherBtn {
    width: 100%;
    border: none;
    font-size: $font--lg;
    background: transparent;
    color: $color-green-dark;
    border-radius: $space--xs;
    padding: $space--sm $space--xs;
  }
}
