@import '../../../../../../styles/tokens/all';

.cloudcalculator__copy {
  position: sticky;
  top: 42%;
  line-height: 1.5;
  padding: 0 $space--xs;

  &__or {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__cta {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: underline;    
  }
}
