@import '../../../styles/tokens/all';

.cloudslug {
  &__top {
    background: url('/images/landing/sky-bg.webp');
    background-attachment: fixed;
    padding-bottom: $space--md;  
  }

  &__hostbox {
    background: $color-white;
    border-radius: $space--xs;
    padding: $space--xs;
  }

  &__description {
    padding: $space--xs $space--xxs;
    line-height: 1.5;

    @include desktop-view {
      padding: $space--xs $space--xxl;
    }
  }
}
