@import '../../../styles/tokens/all';

.clouds {
  background: url('/images/landing/sky-bg.webp');
  background-attachment: fixed;

  &__menu {
    &__left {
      position: relative;
    }

    @include desktop-view {
      display: grid;
      grid-gap: 1%;
      grid-template-columns: 24% 75%;
    }
  }
}
