@import '../../../styles/tokens/all';

.cloudslug {
  background: $color-white;
  border-radius: $space--xxs;
  padding: $space--xs;

  &__description {
    padding: $space--xs $space--xxs;
    line-height: 1.5;
  }
}
