@import '../../../../../../styles/tokens/all';

.planList {
  &__card {
    border: 1px solid $color-black;
    border-radius: $space--xs;
    padding: $space--xs;
    margin-bottom: $space--xs;

    &__head {
      border: 1px solid $color-black;
      border-radius: $space--xs;
      padding: $space--xs;
      span:first-child {
        font-size: $font--xl;
        font-weight: bold;
      }

      span:last-child {
        float: right;
        font-size: $font--xl;
        color:$color-green-dark;
      }

      @include desktop-view {
        display: grid;
        grid-template-columns: 50% 50%;
        border: none;
        span:last-child {
          float: unset;
          padding-left: $space--xs;
        }
      }
    }

    &__body {
      @include desktop-view {
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }

    &__description {
      line-height: 1.5;
      padding: $space--xs;
      text-align: justify;
      @include desktop-view {
        font-size: $font--lg;
      }
    }

    &__spec {
      padding: $space--xs;
    }

    &__cta {
      width: 100%;
      border: none;
      padding: $space--xs;
      background: $color-blue;
      border-radius: $space--xs;
      font-size: $font--md;
      font-weight: bold;
      color:$color-white;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      border: 1px solid $color-black;
      padding: $space--xs $space--xxs;
    }

    td {
      border: 1px solid $color-black;
      font-weight: 400;
      padding: $space--xs;
    }

    button {
      border: none;
      border-radius: $space--xs;
      background: $color-blue;
      padding: $space--xs;
      color: $color-white;
      font-weight: bold;
      cursor: pointer;
    }

    button:hover {
      background: unset;
      border: 1px solid $color-blue;
      color:$color-black;

    }
  }
}