@import '../../../../styles/tokens/all.scss';

.newsCarousel {

  @include desktop-view {
    padding-bottom: $space--sm;
  }

  h2 {
    text-align: center;
  }

  &__card {
    border-radius: $space--xs;
    border: 1px solid $color-white;

    img {
      width: 100%;
      border-radius: $space--xs;
    }

    &__title {
      padding: $space--xs;
      font-size: $font--xl;
      font-weight: bold;
    }

    &__description {
      padding: $space--xs;
      font-size: $font--lg;

      span {
        color: $color-blue;
      }
    }
  }
}