@import '../../../../../../styles/tokens/all';

.productFilter {
  padding: $space--xs;
  border-left: 2px solid $color-black;
  border-right: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  border-radius: 0 0 $space--xs $space--xs;

  &__title {
    font-size: $font--xxl;
    font-weight: bold;
  }

  &__cta {
    width: 100%;
    margin: $space--xs 0;
    padding: $space--xs 0;
    font-size: $font--lg;
    font-weight: bold;
    background: $color-barely-blue;
    border-radius: $space--xs;
  }

  &__cta:hover {
    background: none;
    cursor: pointer;
  }

  @include desktop-view {
    border: none;
  }

  &__productsLink {
    font-size: $font--lg;
    text-align: center;
    color: $color-blue;
    margin: auto;
    padding: $space--sm 0;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__productsLink:hover {
    text-decoration: underline;
  }
}