@import '../../../../../../styles/tokens/all';

.planComparison {
  overflow-x: scroll;

  &__title {
    font-weight: bold;
  }

  &__cta {
    button {
      width: 100%;
      border: none;
      background: none;
      border-radius: $space--xxs;
      padding: $space--xs;
      font-size: $font--lg;
      cursor: pointer;
    }

    button:first-child {
      background: $color-green-dark;
      color:$color-white;
    }

    button:last-child {
      color:$color-blue;
    }

  }

}