@import './../../../styles/tokens/all.scss';

.header {
  width: 100%;
  background: $primary-color;
  padding: $space--md;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $color-white;
  }

  a:first-child {
    font-weight: bold;
    font-size: $font--xxxl;
  }
}
