@import '../../../../../../../styles/tokens/all';

.cloudfilter__mobile {
  background: $color-white;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: $space--sm;
  border-radius: $space--md $space--md 0 0;
  box-shadow: 0 0 12px 4px $color-blue;

  &__closeBtn {
    position: absolute;
    top: 3%;
    right: 3%;
    border: none;
    background: none;
    font-size: $font--xxl;
  }

  &__title {
    margin: $space--sm 0;
    font-size: $font--xl;
    font-weight: bold;
  }

  &__segment {
    margin: $space--sm 0;
    &__title {
      font-size: $font--lg;
    }
  }

  &__input {
    padding: $space--xs 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      width: 20px;
      height: 20px;
    }
    label {
      font-size: $font--lg;
      margin-left: $space--xs;
    }
  }

  &__cta {
    width: 100%;
    border: none;
    border-radius: $space--xs;
    padding: $space--xs;
    background: $color-blue;
    margin: $space--sm 0;
    font-size: $font--lg;
    font-weight: bold;
    color: $color-white;
  }
}
