@import '../../../../../../styles/tokens/all';

.heroContent {
  background: $color-blue;
  padding: $space--sm 0;

  h1 {
    margin: 0;
    padding-bottom: $space--sm;
    font-size: 42px;
    color:$color-white;
    text-align: center;
    border-bottom: 1px solid $color-white;

    @include desktop-view {
      font-size: 42px;
    }
  }

  &__subtitle {
    font-size: $font--lg;
    color:$color-white;
    text-align: center;
    line-height: 1.5;
    margin: $space--xs;

    @include desktop-view {
      font-size: $font--xxl;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $color-white;
      padding: $space--xs $space--xxs;
      margin: $space--xxs;
      border-radius: $space--xxs;
      font-size: $font--lg;

      svg {
        font-size: $font--xxl;
        margin-bottom: $space--xs;
      }
    }
  }
}