$primary-color: #87CEEB;

$color-black: #25224a;
$color-white: #f8faff;
$color-white-transparent: rgba(255, 255, 255, 0.6);

$color-purple: #cbdaff;
$color-purple-2: #b7cbff;
$color-blue: #1972f5;

$color-yellow: #fbf6c7;
$color-green-light: #c6f5b9;
$color-green-dark: #28a745;
