$primary-color: #cbdaff;

$color-black: #25224a;
$color-black-2: #495057;

$color-purple: #cbdaff;
$color-purple-2: #b7cbff;
$color-blue: #1972f5;
$color-white: #f8faff;
$color-yellow: #fbf6c7;
$color-green-light: #c6f5b9;
$color-green-dark: #28a745;

$border-grey: #ced4da;
$color-grey-10: #e9ecef; //for background grey in input field
$color-grey-20: #999; //for button box shadow color
$color-grey-30: #e6e6e6; //for Faq texts
