$primary-color: #cbdaff;

$color-black: #25224a;
$color-black-2: #495057;

$color-purple: #cbdaff;
$color-blue: #1972f5;
$color-white: #f8faff;
$color-yellow: #fbf6c7;
$color-green: #c6f5b9;

$border-grey: #ced4da;
$color-grey-10: #e9ecef; //for background grey in input field
$color-grey-20: #999; //for button box shadow color

$color-blue-2: #17a2b8;
$color-green: #28a745;
