@import '../../../../../../styles/tokens/all';

.productFilter {
  padding: $space--xs;
  border-left: 2px solid $color-black;
  border-right: 2px solid $color-black;
  border-bottom: 2px solid $color-black;
  border-radius: 0 0 $space--xs $space--xs;
}