@import "../../../styles/tokens/all.scss";

.footer {
  background: $color-white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space--xs;

  a {
    margin-left: $space--xs;
  }

  a:hover {
    text-decoration: underline;
  }
}
