@import '../../../styles/tokens/all.scss';

.footer {
  background: $color-white;
  width: 100%;
  padding: $space--xs;
  text-align: center;
  a {
    margin-left: $space--xxs;
  }

  a:hover {
    text-decoration: underline;
  }
}
