@import '../../../../../../styles/tokens/all';

.landing__cloudplans {
    background: $color-white;
    padding: $space--sm;

    &__title {
        text-decoration: underline;
        font-size: $font--lg;
        font-weight: bold;
        padding: 0 $space--xxs;
    }

    &__subtitle {
        font-size: $font--lg;
        font-weight: bolder;
        padding: $space--xxs;
    }

    &__card {
        background: $color-blue;
        border-radius: $space--xs;
        padding: $space--xs;
        margin-bottom: $space--xs;
        color:$color-white;

        &__head {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: $space--sm;
            margin-bottom: $space--xs;
            border-bottom: 1px solid $color-white;

            div:first-child {
                a {
                    font-size: $font--lg;
                    font-weight: bold;
                }
            }
        }

        &__cta {
            background: $color-green-dark;
            display: flex;
            align-items: center;
            padding: $space--xs $space--xs;
            border-radius: $space--xs;
            svg {
                margin-right: $space--xxs;
            }
        }
    }

    @include desktop-view{
        padding: $space--md $space--xxl;
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            font-size: $font--xxl;
        }

        &__cardList {
            display: grid;
            grid-gap: 1%;
            grid-template-columns: 25% 25% 25% 25%;
        }


    }
}