@import '../../../../../../styles/tokens/all';

.landing__cloudplans {
    background: $color-white;
    padding: $space--sm;

    &__title {
        font-size: $font--lg;
        font-weight: bold;
        padding: 0 $space--xxs;
    }

    &__subtitle {
        font-size: $font--lg;
        font-weight: bolder;
        padding: $space--xxs;
    }

    &__card {
        border: 1px solid $color-black;
        border-radius: $space--xs;
        padding: $space--xs;
        height: 350px;
        position: relative;

        &__title {
            font-size: $font--xl;
            font-weight: bold;
            color: $color-blue;
        }
        div {
            margin-bottom: $space--xs;
        }

        &__cta {
            position: absolute;
            left:5%;
            bottom: 5%;
            background: $color-green-dark;
            color: $color-white;
            padding: $space--xs;
            width: 90%;
            text-align: center;
        }

        
    }

    @include desktop-view{
        padding: $space--md $space--xxl;
        &__title, &__subtitle {
            font-size: $font--xxl;
            padding: $space--xs $space--sm;
        }
        &__card {
            margin: 0 2%;
        }
    }
}