@import '../../../../styles/tokens/all.scss';

.productsCarousel {
  padding-bottom: $space--lg;
  h2 {
    text-align: center;
  }
  &__card {
    @include desktop-view {
      border: 2px solid $color-white;
    }
    border-radius: $space--sm;
    font-size: $font--xl;
    position: relative;

    &__head {
      padding: $space--sm;
      div:first-child {
        font-weight: bold;
        font-size: $font--xxl;
      }
      div:last-child {
        font-weight: bold;
        color:$color-green-dark;
      }
    }

    &__description {
      padding: 0 $space--sm;
      margin-bottom: $space--lg;
    }

    &__cta {
      position: absolute;
      left: 2.5%;
      bottom: 5%;
      width: 95%;
      background: $color-black;
      color:$color-white;
      padding: $space--xs;
      border-radius: $space--xs;
      text-align: center;
    }

    &__cta:hover {
      color:$color-black;
      border: 1px solid $color-black;
      background: $color-white;
    }
  }
}