@import '../../../../styles/tokens/all.scss';

.mobileNavbar {
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $space--sm $space--xs;
	}

	&__logo {
		font-size: $font--xxxl;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $color-white;
		font-weight: bold;

		svg {
			font-size: 32px;
			margin-right: $space--xxs;
		}
	}

	&__menuBtn {
		background: none;
		border: none;
		font-size: $font--xxl;
		padding-top: $space--xs;
		color: $color-white;
	}
}


.mobileNavbar__menu {
	background: $color-blue;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $space--sm $space--xs;
	}

	&__logo {
		font-size: $font--xxxl;
		display: flex;
		flex-direction: row;
		align-items: center;
		color: $color-white;
		font-weight: bold;

		svg {
			font-size: 32px;
			margin-right: $space--xxs;
		}
	}

	&__closeBtn {
		background: none;
		border: none;
		font-size: $font--xxl;
		padding-top: $space--xs;
		color: $color-white;
	}

	&__body {
		display: flex;
		flex-direction: column;
		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: $space--lg $space--sm;
			font-size: $font--xxl;
			color:$color-white;
			border-top: 1px solid $color-white;

			svg {
				font-size: 28px;
				margin-right: $space--sm;
			}
		}
		a:hover {
			background: $color-white;
			color:$color-blue;
		}
	}

}