@import '../../../../../../styles/tokens/all';

.landing__cloudsolution {
  background: $color-white;

  h2 {
    margin: $space--sm 0;
  }

  &__subtitle {
    font-size: $font--lg;
    margin-bottom: $space--sm;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__or {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: $font--lg;
    margin: $space--sm;
  }

  &__card {
    border-radius: $space--xxs;
    border: 1px solid $color-black;
    padding: $space--xs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      margin: auto;
    }

    &__title {
      font-weight: bold;
      margin: $space--xxs 0;
    }

    &__subtitle {
      line-height: 1.5;
    }
  }

  @include desktop-view {
    padding-bottom: $space--md;

    &__subtitle {
      font-size: $font--xl;
    }
    &__list {
      display: grid;
      grid-template-columns: 45% 10% 45%;
    }

    &__card {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $space--xs $space--sm;
      &__title {
        margin: $space--xs 0;
        font-size: $font--xl;
      }

      &__subtitle {
        font-size: $font--lg;
      }
    }
  }
}
